:root{
    --azul: rgb(139, 139, 192);
    --vermelho: rgb(216, 154, 154);
    --branco: #fcfcf7;
    --azul-claro: rgba(224, 235, 255, 0.788);
}
*{
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p{
    color: var(--azul);
    font-weight: bold;
}
p, h1, h3{
    text-align: center;
    margin-top: 25px;
}
.navegacao-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.navegacao-list .componentes a:hover{
    background-color: var(--azul);
    color: var(--azul-claro);
}

.componentes{
    margin-top: 26px;
    list-style: none;
}
h2{
    color: var(--azul);
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

button{
    background-color: var(--azul);
    color: var(--branco);
}
input, button {
    height: 30px;
}
input, textarea, button{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-top: 6px;
}

.lab{
    margin-top: 5px;
    font-size: 15px;
}
.txt{
    color:white;
}

.layout-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
}
.grid-group{
    background-color: rgb(249, 252, 255);
    height: 660px;
    display: inline-block;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
}

.link{
    color:var(--azul);
    font-weight: bold;
    background-color: var(--branco);
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}
.navegacao{
    background-color:var(--azul-claro);
}
.form-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cadastro{
    background-color: white;
    width: 420px;
    height: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 35px;
}
.nome, .email, .tel, .mensagem, .btn{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
#area{
    font-size: 12px;
}

.btn{
    margin-top: 30px;
}
.cabecalho{
    background-color: var(--azul);
    height: 100px;
}
.apoio{
    background-color: var(--azul-claro);
}
.opcoes{
    background-color: var(--vermelho);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.menu ul li{
    margin-right: 30px;
}
.menu ul li a {
    color:var(--azul-claro);
    font-weight: bold;
}
.menu ul li a:hover{
    background-color:var(--azul-claro);
    color: #546D79;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    cursor:pointer;
    transition: .3s ease all;
}

.logo{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.rodape{
    background-color: var(--azul);
    height: 80px;
}
